@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  padding: 60px;
  background: url("../assets/home-bg.jpg") no-repeat center center;
  color: white;
}
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: blue;
  border-bottom: 2px dashed white;
}
button {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #848282;
  cursor: pointer;
  border: none;
  width: 100%;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}
h1,
h2,
p {
  text-align: center;
}
form {
  width: 350px;
  margin: 50px auto;
}
form input {
  width: 100%;
  border-radius: 5px;
  padding: 1rem;
  border: none;
  background: #e4dddd;
  margin-bottom: 20px;
}
input:focus {
  outline: none;
}
button:hover {
  background: #333;
  color: white;
}
.error {
  width: 100%;
  padding: 1rem;
  border: 1px solid red;
  color: red;
  font-weight: bold;
  background: pink;
}