body {
  background: #343541;
  color: #8e8ea0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
h1,
h2 {
  margin-bottom: 30px;
  text-align: center;
  color: #8e8ea0;
}
h3 {
  padding-bottom: 20px;
}
ul {
  list-style: none;
}
a,
input {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

article {
  width: 900px;
  margin: 0 auto;
  background-color: #8e8ea0;
  padding: 1rem;
  color: #343541;
  border-left: 5px solid #10a37f;
  margin-bottom: 12px;
}
article h3 {
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
}
article p {
  font-family: "Edu NSW ACT Foundation", cursive;
  text-align: left;
}
.images {
  width: 1100px;
  margin: 12px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  place-items: center;
}
.images li {
  border-radius: 5px;
  overflow: hidden;
  height: 350px;
  width: 100%;
  display: block;
  transition: 0.2s all;
}
.images li:hover {
  border-radius: 0;
}
img {
  width: 100%;
  height: 100%;
}
.videos {
  width: 900px;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
}
.videos li iframe {
  width: 100%;
  height: 400px;
}
